{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <td>
                <form action="/addword" method="post">
                    <input autocomplete="off" autofocus name="english" placeholder="English Word" type="text">
                    <input autocomplete="off" autofocus name="spanish" placeholder="Spanish Word" type="text">
                    <button type="submit">Add Word</button>
                    <button type="reset">Clear</button>
                </form>
            </td>
            <td>
                <form action="/" method="post">
                    <button type="submit">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                </form>
            </td>
        </tr>
    </table>

{% endblock %}