{% extends "login_layout.html" %}

{% block body %}

    <form action="/addword" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">English</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="english" autofocus autocomplete="off">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Spanish</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="spanish" autocomplete="off">
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success">Add Word</button>
        </div>
        <div>
            <button type="reset" class="btn btn-outline-secondary">Clear</button>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="text" checked>
            <label class="form-check-label" for="exampleRadios1">Text</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="title">
            <label class="form-check-label" for="exampleRadios2">Title</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="subtitle 1">
            <label class="form-check-label" for="exampleRadios2">Subtitle 1</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="subtitle 2">
            <label class="form-check-label" for="exampleRadios2">Subtitle 2</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="subtitle 3">
            <label class="form-check-label" for="exampleRadios2">Subtitle 3</label>
        </div>
    </form>

{% endblock %}

{% block other %}

    <form action="/loggedin" method="post">
        <button type="submit" class="btn btn-outline-secondary">
            <i class="fa-solid fa-left-long"></i>
        </button>
    </form>

{% endblock %}