{% extends "login_layout.html" %}

{% block body %}
    <table>
        <tr>
            <td>
                <form action="/loggedin/add" method="post">
                    <button type="submit" class="btn btn-outline-success">Add</button>
                </form>
            </td>
            <td>
                <form action="/loggedin/see" method="post">
                    <button type="submit" class="btn btn-outline-info">See Dictionary</button>
                </form>
            </td>
        </tr>
    </table>
    
{% endblock %}

{% block other %}

    <h1>Spanish Dictionary</h1>

{% endblock %}