{% extends "see_layout.html" %}

{% set login = true %}

{% block other_col %}
    <th scope="col">Options</th>
{% endblock %}

{% macro remove_button(word_dict) %}
    <td>
        <form action="/remove" method="post">
            <input name="spanish" type="hidden" value="{{ word_dict.spanish }}">
            <input name="english" type="hidden" value="{{ word_dict.english }}">
            <input name="id" type="hidden" value="{{ word_dict.id }}">
            <button class="btn btn-outline-danger" type="submit">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </form>
    </td>
{% endmacro %}