{% extends "login_layout.html" %}

{% block content %}

    <table>
        <tr>
            <td>
                <form action="/loggedin" method="post">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fa-solid fa-left-long"></i>
                    </button>
                </form>
            </td>
            <td>
                <form action="/logout" method="get">
                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                </form>
            </td>
        </tr>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Spanish</th>
                <th scope="col">English</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for word_dict in words %}
                <tr>
                    <td>{{word_dict.spanish}}</td>
                    <td>{{word_dict.english}}</td>
                    <td>
                        <form action="/remove" method="post">
                            <input name="spanish" type="hidden" value="{{ word_dict.spanish }}">
                            <input name="english" type="hidden" value="{{ word_dict.english }}">
                            <input name="id" type="hidden" value="{{ word_dict.id }}">
                            <button class="btn btn-outline-danger" type="submit">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}