{% extends "layout.html" %}

{% block content %}

    <div class="d-flex justify-content-between my-3">
        {% if login %}
        <form action="/loggedin" method="post">
            <button type="submit" class="btn btn-outline-secondary">
                <i class="fa-solid fa-left-long"></i>
            </button>
        </form>
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-outline-danger">Logout</button>
        </form>
        {% else %}
            <form action="/" method="post">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-left-long"></i>
                </button>
            </form>
            <form action="/login" method="get">
                <button type="submit" class="btn btn-outline-danger">Login</button>
            </form>
        {% endif %}
    </div>

    <table class="table table-group-divider table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Spanish</th>
                <th scope="col">English</th>
                {% block other_col %}{% endblock %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for word_dict in words %}
                <tr>
                    {% if word_dict.type == "text" %}
                        <td>
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.spanish }}
                                <button onclick="speakSpanish('{{ word_dict.spanish }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.english }}
                                <button onclick="speakEnglish('{{ word_dict.english }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </td>
                    {% endif %}
                    {% if word_dict.type == "title" %}
                        <th style="font-size: 75px;">
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.spanish }}
                                <button onclick="speakSpanish('{{ word_dict.spanish }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </th>
                        <th style="font-size: 75px;">
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.english }}
                                <button onclick="speakEnglish('{{ word_dict.english }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </th>
                    {% endif %}
                    {% if word_dict.type == "subtitle 1" %}
                        <th style="font-size: 50px;">
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.spanish }}
                                <button onclick="speakSpanish('{{ word_dict.spanish }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </th>
                        <th style="font-size: 50px;">
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.english }}
                                <button onclick="speakEnglish('{{ word_dict.english }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </th>
                    {% endif %}
                    {% if word_dict.type == "subtitle 2" %}
                        <th style="font-size: 35px;">
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.spanish }}
                                <button onclick="speakSpanish('{{ word_dict.spanish }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </th>
                        <th style="font-size: 35px;">
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.english }}
                                <button onclick="speakEnglish('{{ word_dict.english }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </th>
                    {% endif %}
                    {% if word_dict.type == "subtitle 3" %}
                        <th style="font-size: 20px;">
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.spanish }}
                                <button onclick="speakSpanish('{{ word_dict.spanish }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </th>
                        <th style="font-size: 20px;">
                            <div class="d-flex justify-content-between my-3">
                                {{ word_dict.english }}
                                <button onclick="speakEnglish('{{ word_dict.english }}')"><i class="fa-solid fa-volume-high"></i></button>
                            </div>
                        </th>
                    {% endif %}
                    {{ remove_button(word_dict) }}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function speakSpanish(text) {
            if ('speechSynthesis' in window) {
                var utterance = new SpeechSynthesisUtterance(text);
                utterance.lang = 'es-ES';
                speechSynthesis.speak(utterance);
            } else {
                alert("Your browser does not support text to speech.");
            }
        }

        function speakEnglish(text) {
            if ('speechSynthesis' in window) {
                var utterance = new SpeechSynthesisUtterance(text);
                utterance.lang = 'en-US';
                speechSynthesis.speak(utterance);
            } else {
                alert("Your browser does not support text to speech.");
            }
        }
    </script>
    
{% endblock %}